*,
::before,
::after {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;
  text-align: center; */
}

#main {
  background-color: #fff235;
  height: 1000px;
}
.grid {
  display: flex;
  gap: 0px;
}
.card {
  width: 200px;
  height: 260px;
  background: white;
  border-radius: 16px;

  position: relative;
  z-index: 1;

  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card:hover {
  transform: translateY(-10px) scale(1.05);

  /* Framer의 z-index 올리는 느낌 */
  z-index: 999;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
