html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

.grid {
  position: absolute;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background-image: url('../asset/grid.svg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.groundArea {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.groundImg {
  position: absolute;
  object-fit: cover;
  pointer-events: none;
  z-index: 1;
}
.groundHbox {
  position: absolute;
  object-fit: cover;
  z-index: 0;
  opacity: 0;
}
.groundImg:hover {
  transform: translateY(-10px) scale(1.05);
  z-index: 10;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
.n1 {
  width: 5%;
  height: auto;
  top: 20.5%;
  left: 30%;
}
.n3 {
  width: 15%;
  height: auto;
  top: 20.5%;
  left: 46.5%;
}
.n12 {
  width: 5%;
  height: auto;
  /* object-fit: cover; */
  top: 12.5%;
  left: 46.5%;
}

/* .Img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
